<div class="form-modal-overlay" data-form-modal-overlay>
    <div class="form-modal" role="dialog" aria-modal="true" aria-label="Foamico form">
        <div class="form-modal-header">
            <strong data-form-modal-title>Foamico</strong>
            <button class="form-modal-close" type="button" data-form-modal-close aria-label="Close">&times;</button>
        </div>
        <iframe data-form-modal-iframe src="" title="Foamico form" loading="lazy"></iframe>
    </div>
</div>
